html {
    scroll-behavior: smooth;
}

#body, #navbar {
    transition: background-color .3s linear, color .3s linear;
}

.wobbleDark {
    animation: shake .1s infinite;
    border-color: red;
    color: red;
    transform: scale(1.1);
    transform-origin: center; /* Add this line */
}

.wobbleLight {
    animation: shake .1s infinite;
    border-color: rgb(29, 78, 216);
    color: rgb(29, 78, 216);
    transform: scale(1.1);
    transform-origin: center; /* Add this line */
}

@keyframes shake {
    0% {
        transform: scale(1.1) rotate(-1deg); /* Combine scale and rotate */
        animation-timing-function: ease-in;
    }
    50% {
        transform: scale(1.1) rotate(1.5deg); /* Combine scale and rotate */
        animation-timing-function: ease-out;
    }
}
